<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="#add task here." />
  </header>

  <section class="main">
    <ul class="todo-list">
<h2>alrighty then</h2>
    </ul>

  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Russell Kranz", "http://github.com/trustinruss" %>
</section>